<% include header %>

<body>
<h1>Visonneuse de fichier</h1>
<p>Information fichier : <%= filePath %></p>

<ul>
    <li>
        <form action="/" method="post">
            <input type="hidden" name="directoryPath" value="<%= directoryPath %>">
            <input type="hidden" name="directory" value="">
            <button type="submit"> retour</button>
        </form>
    </li>
</ul>
</body>
<% include footer %>

